#home {
	height:100vh;
	background:url('../img/red.jpg') top center no-repeat;
	background-size:cover;
}
a {
	transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
}
body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
ul {
	margin:0;
	padding:0;
	list-style-type:none;
}
@font-face {
    font-family: 'ChunkFiveEx';
    src: url(../fonts/ChunkFive_Ex/Chunkfive_Ex.ttf);
}
.white-back {
	background:#fff;
}
.bord-bottom {
	border-bottom: 1px solid rgba(255, 255, 255, .2)
}
.bord-right {
	border-right: 1px solid #ffd630;
}
header .bord-bottom {
	font-size:12px;
	color:#fff;
}
header i {
	font-size:14px;
}
.search-block i {
	cursor:pointer;
}
.orange {
	color:#ffd630 !important;
}
.phone {
	transform:rotateY(180deg);
}
nav a {
	color:white;
	font-size:15px;
	font-weight:bold;
}
nav a:after {
	content:'';
	position:absolute;
	left:0.5rem;
	top:100%;
	height:1px;
	width:50%;
	background:#ffd630;
	visibility:hidden;
	transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
}
nav a:hover:after {
	visibility:visible;
	width:calc(100% - 1rem);
}
nav a.orange:after {
	height:1px;
	width:calc(100% - 1rem);
	visibility:visible;
}
nav a:not([data-menu='home']):before {
	content:'';
	position:absolute;
	left:-0.5rem;
	top:50%;
	transform:translateY(-50%);
	background:#fff;
	height:4px;
	width:4px;
	border-radius:50%;
}
nav a:hover {
	color:#ffd630;
}
.pizza-slide {
	transform:translateY(50%);
	min-height:387px;
}

.bottom-abs {
	position:absolute;
	top:100%;
	left:0 ;
	opacity:0;
}
.pizza-slide .row.active {
	top:0;
	width:100%;
	height:100%;
	left:0;
}
.item {
	width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f6a525;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}
.item .h4 {
	text-align:center;
	flex:1 100%;
	margin-top:-5px;
}
.item .h2 {
	text-align:center;
	flex:1 100%;
}
.btn-orange {
	color:white ;
	border-radius:15px;
	border:1px solid #f6a525;
}
.btn-orange:hover {
	background:#f6a525;
	color:white;
}
.big-text {
	font-size:55px;
	line-height:75px;
    font-family: 'ChunkFiveEx';
	font-weight:900;
}
.pizza-slide p {
	font-family: 'Montserrat', sans-serif;
	font-size:15px;
	color:#fff;
}
.little-circle {
	display:inline-block;
	width:15px;
	height:15px;
	border:2px solid #fff;
	border-radius:50%;	
	cursor:pointer;
}
.little-circle.active {
	background:#fff;
}
.abs-circle {
	position:absolute;
	bottom:-120px;
	left:50%;
	transform:translateX(-50%)
}
.abs {
	position:absolute;
	top:calc(50% - 20px);

	font-size:40px;
	line-height:40px;
	font-weight:400 !important;
	cursor:pointer;
	z-index:3;
}

.at-right {
	right:-20px;
}
.at-left {
	left:-20px;
}
#about {
	height:100vh;
}

#about .content {
	position:absolute;
	top:40px;
	left:0;
	opacity:0;
	transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
}
#about .about-img {
	position:absolute;
	top:120px;
	right:0;
	transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	opacity:0;
}
.content {
	padding-top:40px;
	padding-bottom:60px;
	background:#f6a525;
}
.content p {
	font-size:17px;
} 
.about-img>div:after {
	content:'';
	position:absolute;
	left:30px;
	top:30px;
	width:calc(100% - 60px + 15px);
	height:calc(100% - 60px);
	border:1px solid #f6a525;
}
img[alt='sample'] {
	margin-left:-15px;
}
.our-menus >div {
	padding:50px 0 0 0;
	opacity:0;
	transition:all 1s ease;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
}
.our-menus h2 {
	color:#990100;
	font-weight:bold;
    font-family: 'ChunkFiveEx'
}
.our-menus >ul>li {
	width:30px;
	height:30px;
	line-height:30px;
	padding:0 !important;
	border-radius:50%;
	font-weight:600;
	font-size:14px;
}
.our-menus .btn-orange {
	color:#f6a525;
	transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
}
.our-menus .btn-orange:hover {
	background:#990100;
	color:white;
	border:1px solid #990100;
}
img[alt='food'] {
	border-radius:50%;
}
.our-menus .btn-orange.active {
	background:#990100;
	border:1px solid #990100;
	color:white;
}
div[data-sel] h3 {
	color:#f6a525;
	font-family: 'ChunkFiveEx';
	font-weight:normal;
}
div[data-sel]span {
		color:#990100;
		font-size:18px;
		font-family: 'Montserrat', sans-serif;
		font-weight:bold;	
}
div[data-sel] p {
	color:#838383;
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	white-space:nowrap;
}
div[data-sel]>div {
	transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
}
div[data-sel]>div:hover {
	transform:scale(0.9);
}
div[data-sel]>div:hover .abs-red {
	opacity:1;
	font-size:30px;
}
.abs-red {
	position:absolute;
	top:0;
	left:15px;
	width:135px;
	height:100%;
	text-align:center;
	background: rgba(170, 0, 1, 0.7);
	color:white;
    font-size: 10px;
	border-radius:50%;
	opacity:0;
	line-height:135px;
	transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
}
.our-menus >div >div {
	cursor:pointer;
}
.paralax {
	background-image: url('../img/paralax.jpg');
    height: 100vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.paralax h2 {
	font-family: 'ChunkFiveEx';
}
.paralax p {
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
}
.paralax:after {
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, .65);
}
.back-orange {
	background:#f6a525;
	z-index:1;
	margin-top:-150px;
	opacity:0;
	transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	
}
.paralax input[type='text'],.paralax textarea {
	background:#f6a525;
	border:none;
	border-bottom:1px solid white;
	font-size:14px;
}
.paralax input[type='text']:focus, .paralax textarea:focus {
	outline:none;
	box-shadow:none;
}
.paralax textarea {
	height:70px;
}

.paralax .btn {
	border:1px solid #fff;
	border-radius:0px;
	font-size:25px;
	font-family: 'ChunkFiveEx';
}
.paralax .btn:hover {
	background: #fff;
	color:#f6a525;
}
#galery {
	height:100vh;
	transition:all 01s ease;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	opacity:0;
	margin-top:80px;
}
#galery h2 {
	font-family: 'ChunkFiveEx';
	color:#990100;
	margin-bottom:50px ;
}

#galery .btn {
	background:#f6a525;
	font-family: 'ChunkFiveEx';
	padding:10px 40px;
	border:2px solid #f6a525;
	border-radius:0;
	margin-top:60px;
}
#galery .btn:hover {
		background:#fff;
		color:#f6a525 !important;
}
#galery .overflow {
	overflow:hidden;
}
#galery .overflow >div {
	position:absolute;
	width:100%;
	height:100%;
	line-height:320px;
	text-align:center;
	background:rgba(170, 0, 1, 0.8);
	font-size:30px;
	opacity:0;
	transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
}
#galery .overflow:hover div {
	opacity:1;
	line-height:285px;
}
#galery .overflow img {
	transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
}
#galery .overflow:hover img{
	transform:scale(1.3);
}

#galery .overflow:after:hover {	
	z-index:1
}


.image-menu {
	top:0;
	left:0;
	background:rgba(0,0,0,0.6);
	z-index:20;
  
}
.image-menu >div >div {
	min-width:285px;
	min-height:277px;
}
.abs-close {
	position:absolute;
	right:18px;
	top:3px;
	cursor:pointer;
	color:white;
	font-size:23px;
}
.abs-pos-img {
	position:absolute;
	top:0;
	left:0;
}


#contact > div>div {
	background:#990100;
	margin-top:-5px;
}
#contact > div li {
	display:inline-block;
	border-radius:50%;
	border:1px solid;
	width:25px;
	height:25px;
	text-align:center;
	font-size:14px;
	line-height:25px;
	cursor:pointer;
}
#contact > div li:hover {
	background:white;
	color:#990100;
}
footer {
	background:#f6a525;
	transform:translateY(calc(-50% - 5px));
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
}
footer h5 {
	font-family: 'ChunkFiveEx';
}
.overflow-hidden {
	overflow:hidden;
}
.doted {
	min-width:40%;
}
.doted:after {
	content:'';
	position:absolute;
	left:0;
	top:0;
	transform:translateY(-5px);
	width:100%;
	border-top: 1px dotted white;
	margin-left:10px
}
.bord-left {
	border-left:1px solid #d69021;;
}
@media screen and (max-width:768px) {
	#galery {
		height:auto;
	}
	#home {
		height:auto;
	}
	#home .abs-circle {
		bottom:-50px !important;
	}
	#galery {
		padding-bottom:50px;
	}
	.pizza-slide {
		transform:translateY(0);
		margin-top:80px;
		margin-bottom:80px;
		min-height:550px;
	}
	.pizza-slide .text-right {
		text-align:center !important;
	}
	.big-text {
		font-size:48px;
	}
}
